<div class="container" style="width:30%;">
    <center>
        <div class="form-group" style="margin-top:100px">
            <input class="form-control" id="base" name="" type="text" placeholder="Base do triângulo">
        </div>
        <div class="form-group">
            <input class="form-control" id="altura" name="" type="text" placeholder="Altura do triângulo">
        </div>
        <button style="margin-top:30px; margin-bottom:0;" class="button" type="button" id="btn" onclick="btn()">Calcular</button>  
    </center>
</div>
<center>
    <p class = "pa" id="pa"></p>
</center>
<script>

    function btn() {
        var base = Math.abs(document.getElementById("base").value);
        var altura = Math.abs(document.getElementById("altura").value);
        var area = base*altura/2;
        document.getElementById("pa").innerHTML = "Área: "+ area;
    }
</script>