<div class="container">
    <center>
        <button type="button" class="button" onclick="btn()">clica</button>
        <p class="pa"id="parag">clique</p>
    </center>
</div>
<script>
    function btn() {
        var idade = prompt("Qual sua idade?");
        var sexo = prompt("Qual seu sexo? \nMasculino: m   Feminino: f");
        if(sexo == "m" && idade >= 18)
            document.getElementById("parag").innerHTML = "Você é um homem maior de idade";
        if(sexo == "m" && idade < 18)
            document.getElementById("parag").innerHTML = "Você é um homem menor de idade";
        if(sexo == "f" && idade >= 18) 
            document.getElementById("parag").innerHTML = "Você é uma mulher maior de idade";
        if(sexo == "f" && idade < 18)
            document.getElementById("parag").innerHTML = "Você é uma mulher menor de idade";    
    }
</script>